body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 249, 250);
    color: rgb(0, 4, 5);
    font-size: larger;
    image-rendering: auto;
}
img{width: 300px;
    height: 300px;
    margin-left:1000px; }
.img2{width: 300px;
    height: 300px;
    margin-left:5px;margin-bottom:10px;}
.img3{width: 300px;
    height: 300px;
    margin-right:10px;margin-bottom:10px;}
